.footer {
  background-color: #07dba6;
  padding-top: 10px;
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.text {
  color: #000000;
  font-size: 22px;
  gap: 8px;
}

.icon-instagram{
  background-color: #000000;
}

.social-icons a {
  margin-right: 1rem;
  color: #000000;
  width: 200px;
}





.footer .text {
  color: #000000;
  font-size: 22px;
  font-family: Arial, sans-serif; /* Agrega esta línea para especificar la fuente */
  gap: 8px;
}
