<div class="payment-container">
  <mat-card class="payment-card">
    <mat-card-content>
      <h2 class="title-details">Detalles de la Tarjeta</h2>
      <div class="input-group">
        <mat-form-field >
          <input matInput placeholder="Número de Tarjeta" aria-label="Número de Tarjeta">
        </mat-form-field>

      </div>

      <div class="input-group">
        <mat-form-field>
          <input matInput placeholder="MM/AA" aria-label="MM/AA">
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="CVV" aria-label="CVV">
        </mat-form-field>
      </div>

      <div class="input-group">
        <mat-form-field >
          <input matInput placeholder="Correo Electrónico" aria-label="Correo Electrónico">
        </mat-form-field>
      </div>
    </mat-card-content>

  </mat-card>
  <div class="qr-code-container">
    <h2>PAGA MÁS RÁPIDO </h2>
    <h3 class="description-qr">Escanea este QR con la billetera electrónica de tu banco </h3>

    <img src="assets/qr-logo.png" alt="QR Code">
  </div>
</div>
