<app-toolbar></app-toolbar>

<div class="container">
  <div class="column">
    <h1 class="title">UniRider</h1>
    <p>
      Ofrecemos la oportunidad de viajar
      de manera eficiente a un <br>precio accesible<br>
    </p>
    <p>
      Dile Adios a las largas esperas y a los viajes
      estresantes
    </p>
    <button class="custom-button">Contactanos</button>
    <img class="imglogo" src="./assets/img/img-1.png" alt="imglogo">
  </div>
  <div class="column">
    <img src="./assets/img/taxi.png" class="taxi-image">
    <div class="universidades">

      <img src="./assets/img/" alt="" class="floating-image">
      <img src="../../../../assets/img/PUCP.png" alt="" class="floating-image">
      <img src="../../../../assets/img/SANMARCOS.jpg" alt="" class="floating-image">
      <img src="../../../../assets/img/UCIENTIFICA.png" alt="" class="floating-image">
      <img src="../../../../assets/img/UCV.png" alt="" class="floating-image">
      <img src="../../../../assets/img/ULIMA.jpg" alt="" class="floating-image">
      <img src="../../../../assets/img/UNI.png" alt="" class="floating-image">
      <img src="../../../../assets/img/UP.jpg" alt="" class="floating-image">
      <img src="../../../../assets/img/UPC.png" alt="" class="floating-image">
      <img src="../../../../assets/img/UPN.png" alt="" class="floating-image">
      <img src="../../../../assets/img/URICARDOPALMA.jpg" alt="" class="floating-image">
      <img src="../../../../assets/img/USIL.jpg" alt="" class="floating-image">


    </div>
  </div>
  <div class="column">
    <h1>Destinos mas visitados</h1>
    <div class="most-visited" >
      <img src="./assets/img/upc1.jpg" class="destination-image">
      <h4>San Miguel - UPC</h4>
      <label>Miraflores</label>
      <label> 4.5<span class="estrella">★</span></label>
    </div>
    <div class="most-visited" >
      <img src="./assets/img/upc2.jpg" class="destination-image">
      <h4>San Miguel - UPC</h4>
      <label>Miraflores</label>
      <label> 4.5 <span class="estrella">★</span></label>
    </div>
    <button class="custom-button bold">Ver tus reservas</button>
  </div>
</div>
<app-footer></app-footer>
